<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/auth/dexcom">Dexcom OAuth</a></p>
    <p><a href="/auth/google">Google OAuth</a></p>
  </body>
</html>